
#Skills {
  margin-top: 50%; /* Adjust this value as needed */
}

/* .container{
  display:block;
  padding-left: 20%;
} */

/* #C252E1 */
/* .onion{
   background-color: #fff;
   height:200px;
   width:250px;
   border-radius: 50% 50% 40% 40% / 40% 40% 60% 60%;
   position: relative;

} */

/* .onion::before{
  background-color: #fff;
  content: "";
  height:55px;
  width:55px;
  margin: -40px 0 0 100px;
  border-radius: 40% 40% 60% 60% / 20% 20% 40% 40%;
  z-index: 5;
  position: absolute;
  border: #fff solid;
} */
/* #7542da */

.skillsSet{
  color: #fff;
  font-family: Tomorrow, sans-serif;
}






