#ContactMe{
    margin-top: 20vh;
    margin-bottom: 10vh;
}

.contactMe-container{
    position: relative;

}



.contactMe-content{
    display: block;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.contactMe-content.contact-appear-animation{
    animation: bounce-in 1s forwards;
  }
  
.MyLink-container{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.mylink-option{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    justify-content: center;
    align-items: center;
}

input,
textarea{
    font-family: Tomorrow, sans-serif;
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    border: #00BE67 solid;
    resize: none;
    color: #00BE67;
    background: linear-gradient(315deg,#2a0e2c,#6c0c79);
    font-size: 110%;
    margin-left:15%;
    margin-right: 15%;
    max-width: 800px;
}

::placeholder{
    color:rgb(97, 209, 131);
    font-size: 110%;
}

.submit-button{
    font-family: Tomorrow, sans-serif;
    font-size: 120%;
    border-radius: 0.8rem;
    background-color: #00BE67;
    color: #6c0c79;
    border: #6c0c79 solid;
    border-width: 3px;
    width: 100%;
    padding: 1.5rem;
    max-width: 800px;
    cursor: pointer;
}

@media screen and (max-width :1024px) {
    .contactMe-content{
        grid-template-columns: 1fr;
        gap:2rem;
    }
}


@media screen and (max-width :600px) {
    .contactMe-content{
        width:90% ;
        grid-template-columns: 1fr;
        gap:2rem;
    }
}