#ContactMe{
    margin-top: 20vh;
    margin-bottom: 10vh;
}

.contactMe-container{
    position: relative;

}

.contactMe-content{
    display: block;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.contactMe-content.contact-appear-animation{
    animation: bounce-in 1s forwards;
  }
  
.MyLink-container{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.mylink-option{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    justify-content: center;
    align-items: center;
}

input,
textarea{
    font-family: Tomorrow, sans-serif;
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    border: #00BE67 solid;
    resize: none;
    color: #00BE67;
    background: linear-gradient(315deg,#2a0e2c,#6c0c79);
    font-size: 110%;
    margin-left:15%;
    margin-right: 15%;
    max-width: 800px;
}

::placeholder{
    color:rgb(97, 209, 131);
    font-size: 110%;
}

.submit-button{
    font-family: Tomorrow, sans-serif;
    font-size: 120%;
    border-radius: 0.8rem;
    background-color: #00BE67;
    color: #6c0c79;
    border: #6c0c79 solid;
    border-width: 3px;
    width: 100%;
    padding: 1.5rem;
    max-width: 800px;
    cursor: pointer;
    transition: ease-in 0.5s;
}

.submit-button:hover{
    background-color: #001D31;
    color: #00BE67;
    text-shadow: 0 0 0.2em #FFF7,
    0 0 0.3em  #00BE67;
    box-shadow: 0 0 2em 0.5em #6c0c79;
}

/* pop up message */
.Toastify__toast-theme--colored.Toastify__toast--error {
  font-family: Tomorrow, sans-serif;
  background-color: #F500BD;
  color:#001D31;
  border-radius: 0.5rem;
  text-shadow: 0 0 2em #FFF7,
  0 0 2em  #001D31;
  box-shadow: inset 0 0 0.9rem  #F500BD,
              0 0 0.9rem  #F500BD;
}

.Toastify__toast-theme--colored.Toastify__toast--success {
  font-family: Tomorrow, sans-serif;
  background-color: #00BE67;
  border-radius: 0.5rem;
  color:#001D31;
  border-radius: 0.5rem;
  text-shadow: 0 0 2em #FFF7,
  0 0 2em  #001D31;
  box-shadow: inset 0 0 0.9rem  #00BE67,
              0 0 0.9rem  #00BE67;
}

.Toastify__progress-bar--success,
.Toastify__progress-bar--error {
  background-color: #001D31;
  box-shadow: inset 0 0 1.2rem  #033d64,
              0 0 1.2rem  #0c588b;
}

/* close button */
.Toastify__close-button{
   color:#001D31;
   transition: 0.7s ease-in;
   cursor: pointer;
}

.Toastify__close-button:hover,
.Toastify__close-button:focus {
  color: #00A1D5;
}

@media screen and (max-width :1024px) {
    .contactMe-content{
        grid-template-columns: 1fr;
        gap:2rem;
    }
}

@media screen and (max-width :600px) {
    .contactMe-content{
        width:90% ;
        grid-template-columns: 1fr;
        gap:2rem;
    }
}