#Experience{
  margin-top: 30vh;
}

.timeline_experience{
    justify-content: center;
    align-items: center;
    display: block;
    position: relative;
}

.main-experience-container{
    position: relative;
    justify-content: center;
    align-items: center;
    margin:100px auto;
    max-width: 1200px;
}

.experience_container{
    padding: 10px 50px;
    width: 50%;
    position: relative;
    opacity: 0;
}

.text-box{
    padding:20px 30px;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 600;
    background-color: #0d3d4d;
    transition: 1s ease-in;
}

.left_position{
    left:0;
}

.right_position{
    left:50%;
}

/* you forgot to set the width and height that's why the backgroud width will increase */
.experience_container .experienceIcon{
    position: absolute;
    font-family: Tomorrow, sans-serif;
    font-size: 2rem;
    top:30px;
    width: 40px;
    height: 43px;
    z-index: 10;
    background-color: #f500bd;
    padding: 4px;
    border-radius: 50%;
    right: -20px; 
    color: #001D31;
}


.right_position .experienceIcon {
    left: -21px; 
}

.timeline_container {
  position: relative;
}

/* arrow */
.timeline_experience::before { 
  content: '';
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid #f500bd;
  position: absolute;
  left: calc(50% - 15.5px);
  top: 0;
  transform: translateY(90px) rotate(-90deg);
  opacity: 0;
  z-index: 0; 
}

/* vertical line */
.timeline_experience::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 0;
  background-color: #f500bd;
  top: 120px;
  left: 50%; 
  transform: translateX(-50%);
  z-index: -1; 
  transition: height 1s ease-in-out;
}
  
.timeline-container.animate-timeline::before {
  animation: arrowAppear 0.3s forwards;
}

   @keyframes arrowAppear {
    0%{
      opacity: 0;
    }
    50%{
       opacity: 0.5;
    }
    100%{
      opacity: 1;
    }
   }

  
  .timeline-container.animate-timeline::after {
    animation: timelineMove 1s forwards; 
    transition: ease-in;
  }
  
  @keyframes timelineMove {
    0% {
      height: 0;
    }
    100% {
      height: 95%;
    }
  }
  
.left-arrow{
    height:0;
    width:0;
    position: absolute;
    top:28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #0d3d4d;
    right:-15px;
}

.right-arrow{
    height:0;
    width:0;
    position: absolute;
    top:28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #0d3d4d;
    left:-15px;
}

.experience-title{
   color:#0fb8fa;
   font-family: Tomorrow, sans-serif;
}

.experience-subtitle{
  color:#0fb8fa;
  font-family: Tomorrow, sans-serif;
}

.experience-date{
   color:#0fb8fa;
   font-family: Tomorrow, sans-serif;
}

.experience-contribution{
   color:#f500bd;
   font-family: Tomorrow, sans-serif;
   overflow: hidden;
   max-height: 0;
   transition: max-height 1s;
}

.experience_container.right_position.animate-container {
  animation: bounce-in-right 1s forwards;
}

.experience_container.left_position.animate-container {
  animation:  bounce-in-left 1s forwards;
}

@keyframes bounce-in-right {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(-40px);
  }

  80% { transform: translateX(30px); }
  100% { 
    opacity: 1;
    transform: translateX(0); }
}

@keyframes bounce-in-left {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(40px);
  }

  80% { transform: translateX(-30px); }
  100% { 
    opacity: 1;
    transform: translateX(0); }
}

.TapMebtn{
  position: relative;
  font-family: Tomorrow, sans-serif;
  border:#f500bd solid;
  color:#f500bd;
  border-radius: 0.5rem;
  display: block;
  height: 100%;
  width: 50%;
  left:25%;
  padding:0.5rem 1.2rem;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.TapMebtn:hover{
  color:#0d3d4d;
  background-color: #f500bd;
  text-shadow: 0 0 0.2em #FFF7,
               0 0 0.5em  #0d3d4d;
  box-shadow: inset 0 0 1rem  #F500BD,
                    0 0 1rem  #F500BD;
  transition: ease-in-out 0.5s ;
}

/* action need to be done when trigger the className:moreInfoVisible */
.moreInfoVisible .experience-contribution{
  position: relative;
  display: block;
  animation:  contributionInfo 1s forwards;
  max-height:400px;
}

.moreInfoVisible .TapMebtn{
  display: none;
}

/* Trigger closing animation when a new button is clicked */
.moreInfoVisible[closing] {
  animation: close-contribution 1s forwards;
}

/* show contribution animation */
@keyframes contributionInfo {
  0%{
   opacity: 0;
  }
  100%{
   opacity: 1;
  }
}

/* close button control and style */
.Experience_closebtn{
  position: absolute;
  color:#0fb8fa;
  left:10px;
  top: 10px;
  width: 18px; /* Set equal width and height */
  height: 18px; /* Set equal width and height */
  cursor: pointer;
  transition: 0.4s ease-in;
  vertical-align: middle;
  border: #0d3d4d solid;
  display: none;
}

.Experience_closebtn:hover {
  color: #F500BD;
}

.Experience_closebtn.btn-hidden {
  display: none;
}

.Experience_closebtn.btn-visible {
  animation: experience_closebtn 1s forwards;
  display: block;
}

/* closing the contribute animation */
.experience-contribution[closing]{
  display: block;
  pointer-events: none;
  animation: close-contribution 0.5s forwards;
  transition: ease-out 250ms;
}

ul{
  list-style-position: inside;
}

@keyframes experience_closebtn {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }

  100%{
    opacity: 1;
  }
}

@keyframes close-contribution{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

/* screen size tuning */
@media screen and (max-width: 1160px){
  .timeline_experience{
    margin-bottom:25%;
  }
}

@media screen and (max-width: 758px) {

    .timeline_experience{
        margin: 50px auto;
     }
    .timeline_experience::before{
      left:16px;
    }

     .timeline_experience::after{
        left:31px;
     }

     .experience_container{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
        position: relative;
     }

     .text-box{
        font-size:13px;
     }

     .right_position{
        text-align: left;
        width:100%;
        left:0;
     }
  
     .experienceIcon{
        float: none;
        clear:none;
     }

     .right_position .experienceIcon,  
     .left_position .experienceIcon {
        left: 10px;
      }


      .experience_container.left_position.animate-container,
      .experience_container.right_position.animate-container { 
        animation: bounce-in-ver2 1s forwards;
      }

      @keyframes bounce-in-ver2{
        0% {
          opacity: 0;
          transform: translateY(-1000px);
        }
        60% {
          opacity: 1;
          transform: translateY(50px);
        } 
        80% { transform: translateY(-30px); }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }

     .right-arrow, .left-arrow{
        border-right:15px solid #0d3d4d;
        border-left: 0;
        left: -15px;
     }
     
     .Experience_closebtn{
       padding-left: 2.5px;
       padding-top:2.2px;
     }
  }
 
  @media screen and (max-width: 600px) {
    .text-box{
      font-size: 10px;
    }
    .TapMebtn{
      width: 100%;
      left: 0;
    }
  }