@media screen and (max-width: 1024px) {
    .project-container{
        grid-template-columns:repeat(2, 1fr) !important;
        gap:1.2rem !important;
        max-width: 0px;
     }
     .linkInfo{
      position: relative;
      margin-top: 20%;
      gap:1.2rem;
    }
  }
  @media  screen and (max-width:1280px) {
    .project_tool_group{
      padding-left:8%;
      padding-right:6%;
    }
  }
  @media screen and (max-width: 665px) {
    .btn{
      left: 10px;
      position: relative;
    }
    .btn2{
      position: relative;
      right: 10px;
    }
   
  }

  @media screen and (max-width: 658px) {
    .project-container{
        grid-template-columns: 1fr!important;
        gap: 1rem;
     }
     .btn{
      left: 0px;
      position: relative;
    }
    .btn2{
      position: relative;
      right: 0px;
    }
  }


  @media screen and (max-width: 395px) {  
    .project{
      font-size:100%;
    }  
    .project_tool_group{
      padding-left:8%;
      padding-right:6%;
    }
    .btn{
      left: 10px;
      position: relative;
    }
    .btn2{
      position: relative;
      right: 10px;
    }
}

  @media screen and (max-width:280px){
    .project_tools .toolsName{
      width:80px !important;           
    }
    .project_tool_group{
      grid-template-columns: repeat( auto-fill, minmax(75px, 1fr)) !important;
    }
    .gradient-text{
      font-size: 150% !important;
    }
  }

.project{
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.project-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1300px; 
  gap: 2.5rem;
  margin: 0 auto; 
}

.frame{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1.2rem;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 100%; 
    width: 100%;
    opacity: 0;
}

.frame.animate-frame{
  animation: bounce-in 1s forwards;
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% { 
      transform: scale(.9); 
    }
  100% { 
     opacity: 1;
     transform: scale(1); }
}

.frame::before{
    content:'';
    position: absolute;
    inset: -100% -200%;   
    background: linear-gradient(0deg, #1a5038,#00e880);
    transition: 0.5s ease-in;
    animation: animation-item 1.5s linear infinite;    
}

@keyframes animation-item{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

.frame::after{
    content: '';
    position:absolute;
    inset:4px;
    background: linear-gradient(315deg,#2a0e2c,#6c0c79);
    filter:blur(40px);
    border-radius: 0.5rem;
    filter:blur(1.5px)
}

.project_item{
    padding:1.2rem;
    transition: ease-in-out;
    z-index: 1;
}

.project_item img{
     position: relative;
     width: 100%; 
     border-radius: 0.4rem;
     z-index: 1;
}


.project_title{
    display: flex;
    justify-content: center;
    gap:2rem;
    margin-bottom:1rem;
    z-index: 1;
} 

  .title {
    padding: 1rem;
    font-family: Tomorrow, sans-serif;
    text-align: center;
    margin-bottom:1rem;
    z-index: 1;
    color: #00BE67;
} 

.project_link{
    display: flex;
    justify-content: center;
    gap:2rem;
    margin-bottom:1rem;
    z-index: 1;
} 


.detailbtn,
.detailbtnh:after {
  width: 100%;
  height: 100%;
  line-height: 60px;
  background: linear-gradient(#00f51d , #3abf64 , #14b956 );
  border-radius: 1.5rem;
  letter-spacing: 3px;
  outline: transparent;
  position: relative;
  z-index: 1;
  cursor: pointer;
}


.gradient-text {
  font-size: 20px;
  font-weight: bold;
  font-family: Tomorrow, sans-serif;
  background: linear-gradient(315deg,#2a0e2c,#6c0c79);
  -webkit-background-clip: text; 
  background-clip: text;
  color: transparent;
}

.detailbtn:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  font-family: Tomorrow, sans-serif;
  border-radius: 1.5rem;
  content: 'More Detail';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, #00f51d 5%, #3abf64 3%, #14b956 5%);
  text-shadow: -1px -1px 0px #2a0e2c, 1px 1px 0px #6c0c79;
  clip-path: var(--slice-0);
}


.detailbtn:hover{
  box-shadow: inset 0 0 1rem #13df83, 0 0 1rem #10fe10;
}

.detailbtn:hover:after {
  animation: 1s glitch infinite;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }

  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

.frame-overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#35e9a4;
  padding: 1rem;
  opacity: 0;
  z-index: 2;
  transition: opacity 0.6s ease-in-out;
  border-radius: 0.5rem;
  border: #6c0c79 0.2rem solid;
  box-shadow: inset 0 0 2rem  #6c0c79,
              inset 0 0 2rem  #6c0c79;
  pointer-events: none;
}

.project_detail{
  position: relative;
  padding:20px;
  bottom: 15%;
  display: block;
}

.frame.overlay-visible .frame-overlay {
  opacity: 1;
  animation: coverFrame 1.5s forwards;
  pointer-events: auto;
}

.frame-overlay[closing]{
  animation: closeOverlay 2s forwards;
}

@keyframes closeOverlay{
  0%{
    background-color: rgba(0, 0, 0, 1);
    transform: translateY(0);
  }
  50%{
    background-color: rgba(0, 0, 0, 0.5);
  }
  100%{
    background-color: rgba(0, 0, 0, 0.3);
    transform: translateY(-700px);
  }
}

@keyframes coverFrame{
  0%{
    background-color: rgba(0, 0, 0, 0.3);
    transform: translateY(-700px);
  }
  50%{
    background-color: rgba(0, 0, 0, 0.5);
  }
  100%{
    background-color: rgba(0, 0, 0, 1);
    transform: translateY(0);
  }
}


.closebtn {
  position: absolute;
  cursor: pointer;
  color: #F500BD;
  font-size: 1.5rem;
  z-index: 3;
  left:15px;
  top:20px;
  transition: 0.2s ease-in;
  font-size: 100%;
}

.closebtn:hover{
  color: #00BE67;
}

.closebtn.btn-hidden {
  display: none;
}

.closebtn.btn-visible {
  animation: coverFrame 1.5s forwards;
  display: block;
}


.projectAim{
  font-family: Tomorrow, sans-serif;
  margin-top: 70%;
  color: #F500BD;
  text-shadow: 0 0 0.1em #FFF7,
               0 0 0.3em  #ef0dd1;
}


.project_description{
  font-family: Tomorrow, sans-serif;
  color:#06c57c;;
  text-shadow: 0 0 0.2rem rgba(204, 194, 194, 0.467),
                0 0 0.5rem  #06c57c;
  margin-bottom: 5%;           
  text-align: center;
}

.tools-title{
  font-family: Tomorrow, sans-serif;
  color:#06c57c;;
  text-shadow: 0 0 0.2rem rgba(204, 194, 194, 0.467),
  0 0 0.5rem  #06c57c;
  border: #00f51d solid;
  padding:10px;
  width:50%;
  left: 100%;
  text-align: center;
  
}

.project_tool_group{
  position: relative;
  display: grid;
  flex-direction: column;
  grid-template-columns: repeat( auto-fill, minmax(95px, 1fr) );
  justify-content: flex-start;
  gap:0.7rem;
  align-items: center;
}

.project_tools .toolsName{
  font-family: Tomorrow, sans-serif;
  margin-top:5%;
  font-size: 80%;
  width:100px;
  border-radius: 0.7rem;
  background-color: #252725;
  padding:8px;               
}

.project_tools:nth-child(odd) .toolsName {
  border: #00BE67 solid;
  color: #00BE67 ;
  text-shadow: 0 0 0.1em #FFF7,
               0 0 0.3em  #00BE67 ;
}

.project_tools:nth-child(even) .toolsName {
  border: #F500BD solid;
  color: #F500BD;
  text-shadow: 0 0 0.1em #FFF7,
               0 0 0.3em  #ef0dd1;
}

.linkInfo{
  position: relative;
  margin-top: 20%;
  display: flex;
}

.btn{
    font-family: Tomorrow, sans-serif;
    border: 2px #F500BD solid;
    color: #F500BD;
    text-decoration: none;
    border-radius: 0.4rem;
    padding:0.70rem 0.8rem;
    cursor: pointer;
    display: inline-block;
}


.btn:hover{
    border: 2px #F500BD solid;
    color: #F500BD;
    text-shadow: 0 0 0.3em #FFF7,
    0 0 0.3em  #F500BD;
    box-shadow: inset 0 0 0.4rem  #F500BD,
                      0 0 0.6rem  #F500BD;
  z-index: 1;
  cursor: pointer;
}

.btn:hover{
  animation: textShadow 1.5s infinite;
  background-color: #59244d;
  text-shadow: 0 0 0.2em #FFF7,
  0 0 0.3em  #000;
  box-shadow: inset 0 0 0.9rem  #f800b6,
       0 0 0.8rem  #e100ff;
}

.btn2{
    font-family: Tomorrow, sans-serif;
    color:#00BE67;
    width: max-content;
    border: #00BE67 solid;
    box-shadow: inset 0 0 0.1rem  #00ff9f,
                      0 0 0.1rem  #00ff9f;
    text-decoration: none;
    border-radius: 0.4rem;
    padding:0.70rem 0.8rem;
    cursor: pointer;
    display: inline-block;
    z-index: 1;
}


@keyframes textShadow {
    0% {
      text-shadow: 0.4389924193300864px 0 1px rgba(64, 66, 75, 0.5), -0.4389924193300864px 0 1px rgba(155, 242, 26, 0.3), 0 0 3px;
    }
    5% {
      text-shadow: 2.7928974010788217px 0 1px rgba(150, 228, 66, 0.764), -2.7928974010788217px 0 1px rgba(202, 225, 53, 0.3), 0 0 3px;
    }
    10% {
      text-shadow: 0.02956275843481219px 0 1px rgba(233, 136, 17, 0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    15% {
      text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    20% {
      text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    25% {
      text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    30% {
      text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    35% {
      text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    40% {
      text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    45% {
      text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    50% {
      text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    55% {
      text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    60% {
      text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    65% {
      text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    70% {
      text-shadow: 0.48874025155497314px 0 1px rgba(26, 255, 68, 0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    75% {
      text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    80% {
      text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    85% {
      text-shadow: 0.09769827255241735px 0 1px rgba(226, 243, 45, 0.5), -0.09769827255241735px 0 1px rgba(224, 232, 17, 0.3), 0 0 3px;
    }
    90% {
      text-shadow: 3.443339761481782px 0 1px rgba(193, 255, 78, 0.5), -3.443339761481782px 0 1px rgba(214, 225, 13, 0.3), 0 0 3px;
    }
    95% {
      text-shadow: 2.1841838852799786px 0 1px rgba(48, 135, 14, 0.5), -2.1841838852799786px 0 1px rgba(80, 250, 38, 0.3), 0 0 3px;
    }
    100% {
      text-shadow: 2.6208764473832513px 0 1px rgba(15, 180, 72, 0.5), -2.6208764473832513px 0 1px rgba(66, 252, 199, 0.3), 0 0 3px;
    }
  }

.btn2:hover{
    text-shadow: 0 0 0.2em #FFF7,
                 0 0 0.3em  #000;
    box-shadow: inset 0 0 0.9rem  #00ff9f,
                      0 0 0.8rem  #00ff9f;
    background-color: #0a7c3b;
    animation: textShadow 1.5s infinite;
}


