
#Skills {
  margin-top: 30vh;
}


/* Add media queries for smaller screens */
@media screen and (max-width: 995px) {
  .skillset-content{
    gap: 6rem !important;
  }
  .skillToolContainer {
    grid-template-columns: repeat(2, 1fr) !important; 
  }
}


@media screen and (max-width: 658px) {
  .onion-svg {
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .skillset-content {
    flex-direction: column; 
  }

  .motto {
    text-align: center; 
    margin-top: -180px; 
  }

  .skillset-tool {
    font-size: 12px;
  }
  .eachLayerContent{
    margin-top: -180px;
  }
}


@media screen and (max-width:458px){
  .skillset-tool{
    font-size: 12px;
  }
}
@media screen and (max-width:400px){
  .onion-svg {
    height:360px;
    width:360px;
  }
}
@media screen and (max-width:340px){
  .onion-svg {
    height:260px !important;
    width:260px !important;
  }
  .motto {
    text-align: center; 
    margin-top: -380px; 
  }
}

.onion-svg {
  height:480px;
  width: 350px; 
  aspect-ratio: auto;
}

/* initial onion */
.left-first-layer {
  stroke:#F4C1E2; 
  fill:#001D31;
  stroke-width:6;
  transition: ease-in-out 1.5;
  cursor: pointer;
}

.left-second-layer {
  stroke:#E2ACD1; 
  fill:#001D31;
  stroke-width:6;
  cursor: pointer;
}

.left-third-layer {
  stroke:#D193C1; 
  fill:#001D31;
  stroke-width:6;
  cursor: pointer;
}

.left-fourth-layer {
  stroke:#C17CB3; 
  fill:#001D31;
  stroke-width:6;
  cursor: pointer;
}

.left-fifth-layer {
  stroke:#AF64A1; 
  fill:#001D31;
  stroke-width:6;
  cursor: pointer;
}

.right-first-layer{
  fill:#a92a7c;
  stroke: #b949c3;
  stroke-width:8;
}


.right-second-layer{
  fill:#ba2c86;
  stroke: #b53fc0;
  stroke-width:8;

}

.right-third-layer{
  fill:#b95498;
  stroke: #c95dd3;
  stroke-width:8;
}


@keyframes clickHints {
  0%{
      text-shadow: 0 0 0.1em #FFF7,
      0 0 0.1em  #00f55e;
  }
  15%{
      text-shadow: 0 0 0.15em #FFF7,
      0 0 0.15em  #00f55e;
  }

  25%{
      text-shadow: 0 0 0.25em #FFF7,
      0 0 0.25em  #00f55e;
  }

  35%{
      text-shadow: 0 0 0.35em #FFF7,
      0 0 0.35em  #00f55e;
  }
  45%{
      text-shadow: 0 0 0.45em #FFF7,
      0 0 0.45em #00f55e;
  }
  55%{
      text-shadow: 0 0 0.55em #FFF7,
      0 0 0.55em  #00f55e;
  }
  65%{
    text-shadow: 0 0 0.45em #FFF7,
    0 0 0.45em  #00f55e;
  }
  75%{
      text-shadow: 0 0 0.35em #FFF7,
      0 0 0.35em  #00f55e;
  }
  85%{
      text-shadow: 0 0 0.25em #FFF7,
      0 0 0.25em  #00f55e;
  }
  95%{
      text-shadow: 0 0 0.15em #FFF7,
      0 0 0.15em  #35e9a4;
  }
  100%{
      text-shadow: 0 0 0.1em rgba(204, 194, 194, 0.467),
      0 0 0.1em  #06c57c;
  }
}

@keyframes onionAnimation{
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  60% {
    opacity: 1;
    transform: translateX(40px);
  }

  80% { transform: translateX(-30px); }
  100% { 
    opacity: 1;
    transform: translateX(0); }

}

@keyframes mottoAnimation{
  0% {
    opacity: 0;
    transform: translateX(300px);
  }
  60% {
    opacity: 1;
    transform: translateX(-40px);
  }

  80% { transform: translateX(30px); }
  100% { 
    opacity: 1;
    transform: translateX(0); }
}

@keyframes bounce {
  70% { transform:translateY(0%); }
  80% { transform:translateY(-25%); }
  90% { transform:translateY(0%); }
  95% { transform:translateY(-15%); }
  97% { transform:translateY(0%); }
  99% { transform:translateY(-5%); }
  100% { transform:translateY(0); }
}

@keyframes clickColor {
  0%{
    transform: translate(-200px,0px);
    opacity: 0;
  }
  100%{
    transform: translate(0,0);
    opacity: 1;
  }
}

@keyframes changeColor {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.skill-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skillset-content {
  display: flex;
  align-items: center;
  gap: 12rem;
  width: 100%;
  padding: 0 1px;
  max-width: 870px;
  margin-top: 70px;
}

.skillset-tool {
  position: relative;
  display: flex;
}

.motto{
  color:#00BE67;
  font-family: Tomorrow, sans-serif;
  font-size: 140%;
  flex: 1;
  top:0px;
  bottom:10px;
  left:10px;
  margin-bottom:100px;
  transition: opacity 1s;
  opacity: 0;
}

.motto.mottto-appear-animate{
  animation: mottoAnimation 1s forwards;
}

.motto-content{
  color:#fd00c6;
}


.Click-hints{
  position: relative;
  font-family: Tomorrow, sans-serif;
  color: #0acb8e;
  text-shadow: 0 0 0.01em #FFF7,
               0 0 0.01em  #0cd690;
  animation: bounce 0.8s infinite;
}

.click{
  color:#00f55e;
  text-shadow: 0 0 0.1em #FFF7,
  0 0 0.1em #00f55e;
  padding:5px;
  animation: clickHints 1s infinite;
}

.onion-img{
  height: 340px;
  margin-bottom: 200px;
  opacity: 0;
}

.onion-img.onion-appear-animation{
  animation: onionAnimation 1s forwards;
}

.left-first-layer.active-layer{
  fill:#F4C1E2;
  animation: clickColor 1s forwards;
}


.left-second-layer.active-layer{
  fill:#E2ACD1; 
  animation: clickColor 1s forwards;
}


.left-third-layer.active-layer{
  fill:#D193C1;
  animation: clickColor 1s forwards;
}


.left-fourth-layer.active-layer{
  fill:#C17CB3;
  animation: clickColor 1s forwards;
}


.left-fifth-layer.active-layer{
  fill:#AF64A1;
  animation: clickColor 1s forwards;
}

.layer-one,
.layer-two,
.layer-three,
.layer-four,
.layer-five{
  color: #fff;
}

.Skillset-title{
  color: #FF86C9;
  text-shadow: 0 0 0.2em #FFF7,
               0 0 0.3em  #f712c1;
  animation: mottoAnimation 1.5s forwards;
}

.hidden{
  display: none;
}

.eachLayerContent{
  font-family: Tomorrow, sans-serif;
  display: block;
  justify-content: center;
  align-items: center;
  height:100%;
  width: 100%;
  align-content: center;
  text-align: center;
}

.Skillset-title{
  font-size: 110%;
}

.skillToolContainer{
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom:120px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  min-width: 0;
  animation: mottoAnimation 1.5s forwards;
}

.toolsItem{
  display: block;
}

